repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-toml
    - id: check-added-large-files
    - id: debug-statements
    - id: check-yaml
    - id: check-json

  - repo: local
    hooks:
      - id: markdown-format
        name: markdown-format
        entry: ./scripts/format.sh
        language: system
        pass_filenames: true
        types: [markdown]
        files: \.md$
